.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between; 
  background: rgb(0, 210, 255);
  padding: 5px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.leftHeader{
  display: grid;
  grid-template-columns: auto auto;
  /* margin: 2vw; */
  align-items: center;
}

.leftHeader > div{
  padding: 10px;
}

.leftHeader > a{
  text-decoration: none;
  font-size: min(1.8vw, 20px);
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s;
}

/* Styling for the logo section */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  align-items: center;
  width: 50px;
  height: auto;
  margin-bottom: 5px;
  
}

.logo h3 {
  font-family: 'Arial', sans-serif;
  font-size: min(2vw,24px);
  margin: 0;
  font-weight: bold;
  text-align: center;
  /* margin-left: -80px; */
}

.logo p {
  font-size: 1rem;
  font-style: italic;
  align-items: center;
  margin-left: 40px;
}

/* Styling for the navigation bar */
.navBar {
  display: flex;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
  margin-top: 10px;
  /* margin-left: 8vw; */
}

.navBar a {
  text-decoration: none;
  font-size: min(1.8vw,20px);
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  /* transition: background-color 0.3s ease, transform 0.2s; */
  transition: all 0.5s;
}

.material-symbols-outlined{
  text-align: center;
  font-size: 5vh;
  transition: all 0.5s;
}

.navBar a:hover , .leftHeader > a:hover, .material-symbols-outlined:hover {
  color: white;
  transform: scale(1.1);
}

.menu-icon{
  display: none;
  font-size: 6vw;
  margin-right: 6vw;
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}

.menu-icon:hover{
  color:white;
  transform: scale(1.1);
}

.dropDown {
  position: relative;
  display:inline-block;
  /* flex-direction: row; */
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: content-box;
  border-radius: 30%;
  padding: 10px 10px;
  z-index: 1;
  
  /* Initially hidden */
  opacity: 0;
  /* visibility: hidden; */
  
  /* Smooth transition */
  transition: all 1s;
}

.dropDown:hover .dropDownContent {
  display: block;
  opacity: 1;
  /* visibility: visible; */
}


@media screen and (max-width: 650px) {

  .menu-icon{
    display: block;
  }

  .navBar {
    display: none;
    position: absolute;
    top: 8vh;
    right: 2vw;
    background-color: white;
    color: rgb(0, 210, 255);
    flex-direction: column;
    padding: 2vh 2vw;
    border-radius: 2vw;
    box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    width: 40vw; /* Width of the mobile menu */
    z-index: 99;
    align-items: center;
  }

  .navBar.open {
    display: flex;
  }

  .navBar a:hover {
    color: rgb(0, 210, 255);
    transform: scale(1.1);
  }

  .logo {
    margin-left: 10vw;
  }

  .logo img {
      width: 40px;
  }

  .logo h3 {
      font-size: 4vmin;
  }

  .logo p {
      font-size: 2.5vw;
  }

  .navBar a {
      font-size: 3vw;
      padding: 8px 10px;
  }
}


/* Responsive design for smaller screens */
/* @media screen and (max-width: 600px) {
  .logo img {
      width: 60px;
  }

  .logo h3 {
      font-size: 1.5rem;
  }

  .logo p {
      font-size: 0.9rem;
  }

  .navBar a {
      font-size: 1rem;
      padding: 8px 10px;
  }
} */